/* deep red */
/* salmon */
/* grey */
/* light grey */
a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 90vw;
  margin: auto;
  font-family: "DM Sans", sans-serif;
}

.container-tags {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
}
.container-tags--items {
  color: #901C1C;
  border: solid 1px #e1e1e1;
  border-radius: 1.5em;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.btn {
  position: fixed;
  z-index: 1;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #901C1C;
  color: white;
  padding: 0.5em 2em;
  border-radius: 10px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 2.5em;
  right: 1em;
  cursor: pointer;
  font-size: xx-large;
}

.header--logo {
  margin: 40px 25px 0 0;
}
.header--logo--img {
  width: 150px;
}

@media all and (min-width: 1024px) {
  .header {
    display: flex;
  }
  .header--logo--img {
    width: 200px;
  }
}
.tiles-items {
  text-align: center;
  margin-bottom: 5em;
}
.tiles-items--link {
  position: relative;
}
.tiles-items--link a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
}
.tiles-items--photo {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.tiles-items--name {
  color: #D3573C;
  margin: 0.5em;
  font-size: 2.5em;
}
.tiles-items--location {
  margin: -0.3em;
  font-size: 1.2em;
  color: #901C1C;
}
.tiles-items--price {
  font-size: 0.8em;
  color: #525252;
  margin: -0.3em;
}

.header--navigation .container-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5em;
}
.header--navigation--additional-label {
  text-align: -webkit-center;
  margin-top: -3.4em;
  cursor: pointer;
  opacity: 0;
  position: fixed;
  margin-left: 25%;
  z-index: 2;
}
.header--navigation--additional-label p {
  background-color: #e18d7a;
  border-radius: 1em;
  padding: 5px 10px;
  width: fit-content;
  font-weight: 700;
  font-size: 1.1em;
}

@media all and (min-width: 1024px) {
  .header {
    display: flex;
  }
  .header--navigation .container-tags {
    margin-top: 3.5em;
  }
  .header--navigation--additional-label {
    margin-top: 0;
  }
}
.main-title {
  text-align: right;
  color: #901C1C;
}
.main-title h1 {
  margin: -11.5em 0 11em;
  font-size: 1em;
}

@media all and (min-width: 1024px) {
  .main-title h1 {
    margin: -50px 0 100px 0;
    font-size: 1.8em;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .main-title {
    margin: 5.5em 0 -4em 0;
    font-size: 1.5em;
  }

  .header--navigation {
    margin-left: 1.5em;
  }
  .header--navigation--additional-label {
    margin-left: 35%;
  }
}
#main-tiles {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
#main-tiles .tiles-items {
  animation: appearance 400ms;
}

@media all and (min-width: 1024px) {
  #main-tiles {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
#modal-bg {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
  color: #901C1C;
}
#modal-bg #modal-img {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  left: 50%;
  width: 80%;
}
#modal-bg .fa-chevron-right {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin-left: 95%;
  font-size: xx-large;
}
#modal-bg .fa-chevron-left {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin-left: 5%;
  font-size: xx-large;
}

.img-block {
  text-align: right;
  margin-top: -11em;
  margin-bottom: 5em;
}
.img-block .tiles-items--photo {
  width: 120px;
  height: 120px;
}

.data-block h1 {
  margin-left: 0;
}
.data-block .tiles-items--location {
  margin-left: 0;
}
.data-block .container-tags {
  font-size: 0.9em;
  font-weight: 500;
}

.tiles {
  color: #901C1C;
  font-size: 0.9em;
}
.tiles--img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.tiles--name {
  margin: 0.3em 0 1.5em 0;
}
.tiles--details {
  display: flex;
  justify-content: flex-end;
  margin-left: 1em;
  margin-top: -2.6em;
}
.tiles--details--price {
  margin-top: 0;
  margin-right: 0.8em;
}
.tiles--details--likes--number {
  margin-top: 0;
  margin-right: 0.2em;
}
#bg-form-modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
  color: #901C1C;
}
#bg-form-modal .modal-form-content {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90%;
  max-width: 500px;
  background-color: #e69f8f;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}
#bg-form-modal .modal-form-content .close {
  top: 10px;
  right: 10px;
}
#bg-form-modal .modal-form-content .form-content {
  padding: 15px 8%;
  margin: 15px auto;
}
#bg-form-modal .modal-form-content .form-content .form-data {
  font-size: larger;
}
#bg-form-modal .modal-form-content .form-content .form-data[data-error]::after {
  content: attr(data-error);
  font-size: 0.5em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
#bg-form-modal .modal-form-content .form-content .form-data[data-error-visible=true]::after {
  opacity: 1;
}
#bg-form-modal .modal-form-content .form-content .form-data[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}
#bg-form-modal .modal-form-content .form-content .form-data .text-control {
  width: 95%;
  font-size: larger;
  padding: 10px 5px;
}
#bg-form-modal .modal-form-content .form-content .btn {
  position: relative;
  bottom: 0;
  margin-top: 2em;
}
#bg-form-modal .modal-form-content .form-content #formResult {
  width: 100%;
  height: 100%;
  background: #e69f8f;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
  font-size: 2em;
  padding: 55% 20px;
}
#bg-form-modal .modal-form-content .form-content #formResult .close {
  right: 50px;
}
#bg-form-modal .modal-form-content .form-content #formResult p {
  margin-left: -1em;
}
#bg-form-modal .modal-form-content .form-content #formResult .btn {
  position: fixed;
  bottom: 1em;
}

/*# sourceMappingURL=main.css.map */
