.sort {
	display: none;
}

@media all and (min-width: 1024px) {
	.sort {
		display: flex;
		margin-bottom: 2em;

		p {
			font-weight: bold;
		}

		&-content {
			position: absolute;
			list-style: none;
			background-color: $primary-color;
			color: white;
			margin-left: 5em;
			margin-top: -0.1em;
			padding: 1em 1em 0;
			cursor: pointer;
			border-radius: 8px;

			.sort-show {
				padding-top: 5px;
			}

			&--item {
				padding-bottom: 1em;
				padding-right: 2em;

				&:nth-child(-n + 2) {
				&:after {
					content: "";
  					display: block;
 					width: 143%;
 					margin: 1.5em 0 -1.3em -0.5em;
  					border-bottom: 2px solid white;
				}
			}

			}
		}
	}

	#hidden {
		display: none;

		.sort-content--item {
			margin-top: 1em;
		}
	}

	.fa-chevron-up {
		margin: 0 -2em 0 3em;
	}
}

.static-stats {
	display: none;
}

@media all and (min-width: 1024px) {
	.static-stats {
		display: block;
		position: fixed;
		bottom: 0;
		right: 5%;
		background-color: lighten($secondary-color, 20%);
		font-size: larger;
		font-weight: bold;
		padding: 0 2em;
		border-radius: 10px 10px 0 0;
	}

	#photographer-price {
		margin-left: 3em;
	}
}

.modal-bg {
	display: none; 
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	overflow: scroll;
	color: $primary-color;
	
	.modal-content {
		display: none;
		text-align: center;
		@include center-vertical-position;
		transform: translate(-50%, -45%);
		left: 50%;
	}

	.current-modal {
		display: block;
	}

	
	.modal-media {
		max-width: 80vw;
	}

	.modal-media-name {
		
	}

	.fa-chevron-right {
		@include center-vertical-position;
		margin-left: 95%;
		font-size: xx-large;
	}

	.fa-chevron-left {
		@include center-vertical-position;
		margin-left: 5%;
		font-size: xx-large;
	}
}
.show {
	display: block;

	.modal-content {
		display: none;
	}

	.current-modal{
		display: block;
	}
}

@media all and (min-width: 1024px) {
	.modal-bg {

		.modal-media {
			max-width: 70vw;
			max-height: 50vw;
		}

		.close {
			top: 5vw;
			right: 5vw;
		}
	}
}


.img-block {
	position: absolute;
	top: 18%;
	right: 5vw;

	.tiles-items--photo {
		width: 120px;
		height: 120px;
	}
}

.data-block {
	h1 {
		margin-left: 0;
	}
	.tiles-items--name {
		width: 60vw;
	}
	.tiles-items--location {
		margin-left: 0;
	}
	.tiles-items--tagline {
		color: $tertiary-color;
	}
	.container-tags {
		font-size: 0.9em;
		font-weight: 500;
		margin-bottom: 3em;
	}
}

@media all and (min-width: 1024px) {
	#id-block {
		padding: 1em 4em;
		margin: 1em auto;
		background-color: $quaternary-color;
		width: 90%;

		.img-block {
			margin-bottom: 0;
			right: 10vw;

			img {
				width: 180px;
				height: 180px;
			}
		}

		.data-block {
			.container-tags {
				justify-content: flex-start;
			}
		}
	}
}

#photo-tiles {
	padding-bottom: 15%;
}
.tiles {
	color: $primary-color;
	font-size: 0.9em;
	animation: appearance 400ms;

	&--img {
		width: 100%;
		height: 250px;
		object-fit: cover;
		cursor: pointer;
	}

	&--name {
		margin: 0.3em 0 1.5em 0;
	}

	&--details{
		display: flex;
		justify-content: flex-end;
		margin-left: 1em;
		margin-top: -2.6em;

		&--price{
			margin-top: 0;
			margin-right: 0.8em;
			
		}

		&--likes {
			&--number {
				margin-top: 0;
				margin-right: 0.2em;
			}

			&--icon {
				
			}
			
		}
	}
}

@media all and (min-width: 1024px) {
	#photo-tiles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-bottom: 5%;

		.tiles {
			width: 30%;

			&--img {
				height: 300px;
			}
		}
	}
}

#bg-form-modal {
	display: none; 
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	overflow: scroll;
	color: $primary-color;

	.modal-form-content {
		left: 50%;
		@include center-vertical-position;
		width: 90%;
		max-width: 500px;
		background-color: lighten($secondary-color, 20%);
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		padding-top: 10px;

		.close{
			top: 10px;
			right: 10px;
		}

		.form-content {
			padding: 15px 8%;
			margin: 15px auto;

			.form-data {
				font-size: larger;

				&[data-error]::after {
  				content: attr(data-error);
  				font-size: 0.5em;
  				color: #e54858;
  				display: block;
  				margin-top: 7px;
  				margin-bottom: 7px;
  				text-align: right;
  				line-height: 0.3;
  				opacity: 0;
  				transition: 0.3s;
				}

				&[data-error-visible="true"] {
					&::after {
  						opacity: 1;
					}

					.text-control {
 						border: 2px solid #e54858;
					}
				}

				.text-control {
					width: 95%;
					font-size: larger;
					padding: 10px 5px;
				}
			}

			.btn {
				position: relative;
				bottom: 0;
				margin-top: 2em;
			}

			#formResult {
 				width: 100%;
  				height: 100%;
  				background: lighten($secondary-color, 20%);
  				z-index: 999;
  				position: absolute;
  				left: 0;
  				top: 0;
  				text-align: center;
  				display: none;
  				font-size: 2em;
  				padding: 55% 20px;

  				.close {
  					right: 50px;
  				}

  				p{
  					margin-left: -1em;
  				}

  				.btn {
  					position: fixed;
  					bottom: 1em;
  				}
			}
		}


	}
}