.container-tags {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding-left: 0;

	&--items {
		color: $primary-color;
		border: solid 1px darken($quaternary-color, 10%);
		border-radius: 1.5em;
		padding: 5px 10px;
		margin-right: 10px;
		cursor: pointer;
	}
	
}
